<h1> Placed Bet: </h1>

<h2>Team: <%= @bet.team %></h2>
<h2>Date: <%= @bet.date %></h2>
<h2>Amount: <%= @bet.amount %></h2>


<a href="/bets/<%= @bet.id %>/edit">Edit this post</a><br />
<a href="/bets"> Back to All Bets </a>

<h3>Delete Bet?</h3>
<form method="POST" action="/bets/<%= @bet.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>