<h1> Placed Bets </h1>

<h2>Team: <%= @bet.team %></h2>
<h2>Date: <%= @bet.date %></h2>
<h2>Amount: <%= @bet.amount %></h2>


<a href="/bets"> Back to All Bets </a>

<% if @bet.id == current_user.id %>
<a href="/bets/<%= @bet.id %>/edit">Edit this post</a><br />
    <%# delete form %>
    <h3>Would you like to delete this bet?</h3>
    <form method="POST" action="/bets/<%= @bet.id %>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
    </form>

<% end %>