<h1> Here are Todays Top Bets! </h1>
  <ul>
    <% @bets.each do | bet | %>
      <li class="wrapper">
        <h4><a href="/bets/<%= bet.id%>">User: <%= bet.user.username %> Team:<%= bet.team %>Date:<%= bet.date %> Amount: $<%= bet.amount %></a></h4>
      </li>
    <% end  %>
  </ul>



        

