<h1> Bet Placed: </h1>

<h2>User: <%= @bet.user.username %></h2>
<h2>Team: <%= @bet.team %></h2>
<h2>Date: <%= @bet.date %></h2>
<h2>Amount: <%= @bet.amount %></h2>
 

<% if @bet.user_id == current_user.id %>
    <a href="/bets/<%= @bet.id %>/edit"><button>Edit</button></a>
    <form method="POST" action="/bets/<%= @bet.id %>">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
<% end %>
<a href="/bets"><button>Back to All Bets</button></a>

